body {
    background: black;
  }
  
  .clock {
    position: relative;
    text-align: center;
    color: #0884e9;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .text1 {
    position: relative;
    text-align: center;
    color: #75e908;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .text2 {
    position: relative;
    text-align: center;
    color: #e90808;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
  }
